body,html{
    background-image: url('../goods_bkg3.jpg');
      background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
    display: flex;
    gap:2%;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top:3%;

}

#search_product {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px; /* Rounded borders */
    width: 300px; /* Adjust the width as needed */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.product{
margin-right:7%;
margin-left:7%;
background-color: rgba(255, 255, 255, 0.3);

display:grid;
   grid-template-columns: repeat(12,1fr);
padding:2%;
height:300px;
border-radius:20px;
}
#img{
 border-radius: 5%;
    grid-column: 1/span 5;

}
#name{
    grid-column: 7/span 12;
}
.buttons{
display:flex;
gap:1rem;

}
a{
text-decoration:none;
color:black;
}