<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HOME</title>

 <link rel="stylesheet" href="./static/css/home.css">
  </head>
  <body>
    {% if current_user.is_authenticated %}
        <a href="{{url_for('logout_page')}}"> Logout </a>

    <a href="{{url_for('goods')}}">See products</a>
        <a href="{{url_for('bought_items')}}"> Purchase History </a>
    <a href="{{url_for('cart_items')}}"> Cart </a>
    <h2 class="greeting">Hey there {{current_user.name}}</h2>
    {% else %}



    <h2 class="greeting">Hey there Create an account or log in to view the hottest products in the world!</h2>
<button>
     <a href="{{url_for('login_page')}}"> Login </a>

</button>
<button>
     <a href="{{url_for('register_page')}}"> Sign Up </a>

</button>

  {%endif%}
  </body>
</html>
