<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>HOME</title>
    <style>
      body {
  background-image: url('../static/homeimg3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional: This keeps the background fixed while scrolling */
  color:white;
}
    </style>
  </head>
  <body>
    {% if current_user.is_authenticated %}
    <h2>Hey there {{current_user.name}}</h2>
    <a href="{{url_for('goods')}}">See products</a>
    {% else %}
    <h2>Create an account to join the train!!</h2>
    {% endif %}
    <a href="{{url_for('logout_page')}}"> Logout </a>
    <a href="{{url_for('bought_items')}}"> Purchase History </a>
    <a href="{{url_for('cart_items')}}"> Cart </a>
  </body>
</html>
